*{
  box-sizing: border-box;
}
body{
  background-color: $colorWhite;
  font-family: "Inter",sans-serif;
  color: $colorBlack;
  font-weight: 400;
  font-size: 14px;
  min-width: 320px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
img{
  display: block;
}
button{
  padding: 0;
}
p{
  margin: 0;
}
.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.title{
  text-transform: uppercase;
}
.size{
  label{
    span{
      display: block;
      width: fit-content;
      padding: 4px 14px;
      font-size: 14px;
      font-weight: 400;
      border: 1px solid $colorBlack;
      text-transform: uppercase;
      cursor: pointer;
    }
    .checkbox{
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked+span{
        opacity: 1;
        background-color: $colorBlack;
        color: $colorWhite;
      }
      &:invalid:required+span{
        background-color: red;
      }
    }
  }
}
.colors-form{
  display: flex;
  &__item:not(:last-child){
    margin-right: 10px;
  }
}